{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row" style="padding-top: 50px">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-12">
                        <h2>Cosmos Upgrades</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        This is an Ical for Cosmos upgrades. The Ical is generated from the Polkachu (https://polkachu.com/) awesome API!<br/>
                        <br/>
                        <code>{{ absolute_url(path('app_cosmos_upgrades_ical')) }}</code>
                        <br/><br/>
                        <h3>How to use?</h3>
                        <p>Just copy the link above, go to your google calendar our any other calender. Click on add a new ICAL and add the link above.</p>
                        <br>
                        <h3>Customisations</h3>
                        <h4>Chains</h4>
                        <p>You pick only the chains you want to be notified. For this add to the link above the following query parameter `chains[]=name` for example:</p>
                        <code>{{ absolute_url(path('app_cosmos_upgrades_ical', {chains: ['evmos', 'juno', 'stargaze']})) }}</code>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}