{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Welcome</h1>
            </div>
            <div class="col-md-12">
                Free tools powered by <a href="https://tedcrypto.io" target="_blank">Tedcrypto.io</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts_footer %}

{% endblock %}